<ion-content>
  <div class="logo">
    <img src="/assets/grab.png">
    <span>Lite</span>
  </div>
  <div class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="9">
              <ion-input [(ngModel)]="merchant" placeholder="Merchant ID"></ion-input>
            </ion-col>
            <ion-col size="2">
              <ion-button mode="ios" color="light" (click)="scanQR()">
                <ion-icon name="qr-scanner"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="amount" type="number" placeholder="Amount"></ion-input>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <div class="mode">SMS</div>
            </ion-col>
            <ion-col size="4">
              <div>
                <ion-toggle color="success" [(ngModel)]="isQR" mode="ios"></ion-toggle>
              </div>
            </ion-col>
            <ion-col size="4">
              <div class="mode">QR</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="8">
              <ion-input class="code" [ngModel]="code" readonly></ion-input>
            </ion-col>
            <ion-col size="4">
              <div class="count">{{countDown}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="pin" type="tel" maxlength="6" placeholder="PIN"></ion-input>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <ion-button color="success" class="footer-btn" mode="ios" [disabled]="!merchant || !amount || !pin" (click)="pay()"
      expand="full">
      Pay</ion-button>
  </ion-toolbar>
</ion-footer>